// @import "fonts";
$breakpoint-phone: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

body {
	// background: url(https://images.alphacoders.com/502/502329.jpg) no-repeat center center fixed;
	// background-size: cover; 
	margin: 0;
	background-color: #282c34;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 27px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  
.App {
	display: flex;
	flex-direction: row;
	position: relative;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: calc(10px + 2vmin);
		@media (max-width:$breakpoint-tablet){
			flex-direction: column;
		}
	.Home{
		display: flex;
		flex-direction: row-reverse;
	}
	.Slidebar{
		background-color: #fff;

		img {
			width:100%;
			height: auto;
		}
		.header{
			display: flex;
			justify-content: space-between;
			margin: 45px 15px 0px 15px;
			svg{
				color: #EFD358;
			}
		}
		.body{			
			margin: 50px;
			font-style: normal;
			font-weight: normal;
			font-size: 19px;
		}
	}
	.Show{
		display: flex;
		flex-direction: column;	
		position: absolute;
		width: 492px;
		height: 165px;
		left: 95px;
		top: 140px;
		span{
			font-size: 23px;
		}
		h3{
			margin-top: 0px;
			margin-bottom: 0px;
			
		}
		p{
			font-style: normal;
			font-weight: normal;
			font-size: 23px;
			line-height: 27px;
		}
	};
	.Episodes{
		display: flex;
		flex-direction: column;
		position: relative;
		color: #FFFFFF;
		width:70%;
		ul{
			display: flex;
			position: relative;
			top: 25em;
			width: 100%;
			font-size: 18px;
			font-family: Helvetica Neue;
			font-style: normal;
			font-weight: bold;
			font-size: 15px;
			line-height: 18px;
			li{
				list-style-type: none;
				width: 205px;
				margin: 10px;
				.episode{
					// remove border
					border: 1px solid white;
					// remove border
					padding: 10px;
					font-size: 0.7em;
					text-align: left;
					font-family: Helvetica Neue;
					font-style: normal;
					font-weight: normal;
					font-size: 13px;
					line-height: 16px;
					mix-blend-mode: normal;
					opacity: 0.8;
					h3{
						margin-top:5px;
						margin-bottom:5px;
					}
					img{
						width: 100%;
						height: 100%;
						object-fit: fill;
					}
				}
			}
		}
		.arrowButtons{
			position: relative;
			top: 7em;
			float: right;
			align-self: end;
			.Left{
				width: 33px;
				height: 27px;
				background: url(../images/tail.svg);
				border: 0px;
				margin: 0px 5px 0px 0px;
			}	
			.Right {
				position: relative;
				bottom: 4px;
				width: 33px;
				height: 27px;
				background: url(../images/tail.svg);
				border:0px;
				transform: rotate(180deg);
			}	
		}
	}
}







