@font-face {
	font-family: 'Helvitica';
	src: local('Helvetica'), url(../../fonts/HelveticaNeueLTStd-Bd.otf) format('opentype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Helvitica';
	src: local('Helvetica'), url(../../fonts/HelveticaNeueLTStd-Md.otf) format('opentype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Helvitica';
	src: local('Helvetica'), url(../../fonts/HelveticaNeueLTStd-Lt.otf) format('opentype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Helvitica';
	src: local('Helvetica'), url(../../fonts/HelveticaNeueLTStd-Roman.otf) format('opentype');
	font-style: normal;
	font-weight: normal;
}